
gui/__pycache__/button.cpython-312.pyc
gui/__pycache__/interface.cpython-312.pyc
source/__pycache__/utils.cpython-312.pyc
source/__pycache__/Bot.cpython-312.pyc
source/__pycache__/caro.cpython-312.pyc
